In [2]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('dogs.db')
cur = conn.cursor()
# df = pd.read_csv('planets.db')

Select the name and breed for all female dogs

In [3]:
cur.execute("""SELECT name, breed FROM dogs WHERE gender = 'F';""").fetchall()

[('Little Ann', 'coonhound'),
 ('Pickles', 'black lab'),
 ('Lassie', 'collie'),
 ('Snowy', 'fox terrier')]

Select the names and age of all dogs listed in alphabetical order. Notice that SQL lists the nameless dog first.

In [4]:
cur.execute('''select name, age from dogs ORDER BY name;''').fetchall()

[(None, 4),
 ('Clifford', 4),
 ('Lassie', 7),
 ('Little Ann', 5),
 ('McGruff', 10),
 ('Pickles', 13),
 ('Scooby', 6),
 ('Snoopy', 3),
 ('Snowy', 8)]

Select the names and age of all dogs listed by age. Notice that SQL lists the nameless dog first.

In [5]:
cur.execute('''select name, age from dogs order by age desc;''').fetchall()

[('Pickles', 13),
 ('McGruff', 10),
 ('Snowy', 8),
 ('Lassie', 7),
 ('Scooby', 6),
 ('Little Ann', 5),
 ('Clifford', 4),
 (None, 4),
 ('Snoopy', 3)]

Select any dog that doesn't have a name

In [6]:
cur.execute('''select * from dogs where name is null;''').fetchall()

[(9, None, 4, 'M', 'golden retriever', 'playful', 1)]

In [7]:
#practicing a between statement
cur.execute('''select * from dogs
        where age between 3 and 5''').fetchall()

[(1, 'Snoopy', 3, 'M', 'beagle', 'friendly', 1),
 (4, 'Little Ann', 5, 'F', 'coonhound', 'loyal', 0),
 (6, 'Clifford', 4, 'M', 'big red', 'smiley', 1),
 (9, None, 4, 'M', 'golden retriever', 'playful', 1)]

In [19]:
#practicing a case statement
cur.execute('''select *, 
        case
        when age < 2 then "young"
        when age < 5 then "mid"
        else "old" 
        end 
    from dogs;''').fetchall()

[(1, 'Snoopy', 3, 'M', 'beagle', 'friendly', 1, 'mid'),
 (2, 'McGruff', 10, 'M', 'bloodhound', 'aware', 0, 'old'),
 (3, 'Scooby', 6, 'M', 'great dane', 'hungry', 1, 'old'),
 (4, 'Little Ann', 5, 'F', 'coonhound', 'loyal', 0, 'old'),
 (5, 'Pickles', 13, 'F', 'black lab', 'mischievous', 1, 'old'),
 (6, 'Clifford', 4, 'M', 'big red', 'smiley', 1, 'mid'),
 (7, 'Lassie', 7, 'F', 'collie', 'loving', 1, 'old'),
 (8, 'Snowy', 8, 'F', 'fox terrier', 'adventurous', 0, 'old'),
 (9, None, 4, 'M', 'golden retriever', 'playful', 1, 'mid')]