In [16]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('SF_Park_Scores.csv')
cur = conn.cursor()
df = pd.read_csv('SF_Park_Scores.csv')

In [18]:
df.sample(1)
#i uploaded the df so that i can make questions to answer for myself, such as....

,ParkID,PSA,Park,FQ,Score,Facility Type,Facility Name,Address,State,Zipcode,Floor Count,Square Feet,Perimeter Length,Acres,Longitude,Latitude
3024,38,PSA3,Bay View Playground,FY11Q2,0.908,Ball Field,Visitacion Valley Ball Fields,Cora & Leland St,CA,94134.0,NaN,53257.899986,886.438137,1.222638,-122.409084,37.712275

choose every park that has a score >0.9

In [24]:
score = df['Score'].value_counts()
score

1.000    934
0.976     65
0.957     53
0.944     49
0.971     48
        ...
0.531      1
0.282      1
0.451      1
0.484      1
0.715      1
Name: Score, Length: 462, dtype: int64

In [25]:
if score >= '.9' print score

SyntaxError: invalid syntax (<ipython-input-25-b29401c4c744>, line 1)