In [1]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('dogs.db')
cur = conn.cursor()
# df = pd.read_csv('planets.db')

Select the name and breed for all female dogs

In [4]:
cur.execute("""SELECT name, breed FROM dogs WHERE gender = 'F';""").fetchall()

[('Little Ann', 'coonhound'),
 ('Pickles', 'black lab'),
 ('Lassie', 'collie'),
 ('Snowy', 'fox terrier')]

Select the names and age of all dogs listed in alphabetical order. Notice that SQL lists the nameless dog first.

In [7]:
cur.execute('''select name, age from dogs ORDER BY name;''').fetchall()

[(None, 4),
 ('Clifford', 4),
 ('Lassie', 7),
 ('Little Ann', 5),
 ('McGruff', 10),
 ('Pickles', 13),
 ('Scooby', 6),
 ('Snoopy', 3),
 ('Snowy', 8)]

Select the names and age of all dogs listed by age. Notice that SQL lists the nameless dog first.

In [11]:
cur.execute('''select name, age from dogs order by age desc;''').fetchall()

[('Pickles', 13),
 ('McGruff', 10),
 ('Snowy', 8),
 ('Lassie', 7),
 ('Scooby', 6),
 ('Little Ann', 5),
 ('Clifford', 4),
 (None, 4),
 ('Snoopy', 3)]

Select any dog that doesn't have a name

In [15]:
cur.execute('''select * from dogs where name is null;''').fetchall()

[(9, None, 4, 'M', 'golden retriever', 'playful', 1)]